<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::title},~{::section})}">
    <title>메검색</title>
</head>

<body>
<div class="container">
    <div class="row justify-content-center" style="margin-top: 80px;">
        <!-- Search Form Start -->
        <form th:action="@{/maplestory/v1/id}" method="get" accept-charset="UTF-8" class="form-inline d-flex justify-content-center w-75">
            <div class="form-group mr-2" style="margin-right: 15px;">
                <input type="text" class="form-control" id="character_name" name="character_name" placeholder="캐릭터명을 입력하세요.">
            </div>
            <button type="submit" class="btn btn-secondary mr-2">검색</button>
        </form>
        <!-- Search Form End -->
    </div>
</div>


</body>

</script>

<script src="/js/bootstrap.min.js"></script>

</html>